{% extends "base.html.twig" %}

{% block body %}
	<h1>Add an organization</h1>
	<p><a href="{{ path('organization_home') }}">-Cancel</a></p>
	<form action="{{ path('organization_create') }}" method="post">
		<label for="name">Name*</label>
		<input type="text" name="name" id="name" required placeholder="Name is required">
		<button type="submit">Add</button>
	</form>
{% endblock %}